@mixin mx-col-grid($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {
        .col-4-m {
            //width: 33.3%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    @if($gridwidth==$gridwidthtablet) {
        @media only screen and (min-width: $gridwidth) {
            .col-8-t {
                width: 66.6%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {
            .col-12-d {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }


}