@mixin mx-row-escolhas($gridwidth) {

    @if($gridwidth==$gridwidthmobile) {
        .row-escolhas {
            width: 100%;
            height: 272px;
            display: flex;
            flex-direction: column
        }
    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {
            .row-escolhas-d {
                width: 100%;
                height: 400px;
                display: flex;
                flex-direction: row;
            }
        }
    }

}


@mixin mx-col-grid($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {
        .col-4-m {
            //width: 33.3%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    @if($gridwidth==$gridwidthtablet) {
        @media only screen and (min-width: $gridwidth) {
            .col-8-t {
                width: 66.6%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {
            .col-12-d {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }


}

@mixin mx-footer($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {
        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 14px 82px 14px 82px;
        }
    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {
            .footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 14px 82px 14px 82px;
            }
        }
    }
    
}