@include mx-col-grid($gridwidthmobile);
@include mx-col-grid($gridwidthtablet);
@include mx-col-grid($gridwidthtabletbig);

.headerEscolha {
    width: 100%;
    border-bottom: 1px black solid;
    box-shadow: 5px black solid;
    background-color: white;
}

.main {
    width: 100%;

}

// 4 / 12 = 0,33
/*.col-4-m {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

// 8 / 12 = 0,66
.col-8-t {
    width: 66.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

// 12 / 12 = 1
.col-12-d {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}*/

//.row-escolhas .col-4-m {
//    padding: 2rem 1.5rem 0 1.5rem;
//}




.headerEscolha_image {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 20px;
    margin-top: 4px;
    margin-bottom: 4px;

}

.btn-escolha1-a,
.btn-escolha1-b {
    font-family: 'Gotham-Bold';
    border: 0;
    //width: 100%;
    //height: 136px;
    background-color: #CA9559;

    // Texto
    color: #FFFFFF;
    line-height: normal;
    font-size: 2rem;
    text-align: center;

}

.btn-escolha1-b {
    background-color: #4A4D41;
}

/*
.escolha_Amigos__btn {
    height: 10rem;
    margin-bottom: 2%;

}*/

/*
.row-botoes .col-4-m {
    padding: 1rem 3.5rem 0 3.5rem;
    display: flex;
    flex-direction: row-reverse;
}*/

.row-botoes {
    display: flex;
    flex-direction: row-reverse;
}

.btn-continuar {
    width: 9rem;
    height: 3rem;
    //margin-bottom: 2%;
    margin: 22px 20px 45px 75px;
    //background-color: gray;
    background: rgba(237, 237, 237, 0.4);
    color: #373535;
    border: 1.5px solid #373535;

    font-size: 1rem;
    line-height: normal;
    text-align: center;

    letter-spacing: 0.1rem;
}

.btn-voltar {
    height: 3rem;
    margin-bottom: 2%;
    background-color: #ccc;
    color: white;
    border: 0;
}

.sectionFortaleceLaco__heading-h1 {
    padding: 15rem 2rem 0 2rem;
}



.sectionForm2__heading-h1 {
    padding: 2rem 1.5rem 0 1.5rem;
    text-transform: uppercase;
}

.sectionFormParabens__heading-h1 {
    padding: 2rem 1.5rem 0 1.5rem;
    text-transform: uppercase;
}


.sectionFormLacoFortalecido__heading-h1 {
    padding: 2rem 1.5rem 0 1.5rem;
    text-transform: uppercase;
}


// --------------------
//  FORM1 e FORM2
.sectionForm1 {

    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-nome,
.form-email {
    display: flex;
    flex-direction: column;

}

.form-nome__margin {
    margin-bottom: 35px;
}

//.form1-nome-origem {
//    margin-bottom: 34px;
//}

.section-mensagem__heading-h1 {

    font-family: "Get-Show";
    line-height: 40px;
    font-size: 3rem;
    text-align: center;

    color: #373535;
    margin: 1.5rem 2rem 1.5rem 2rem;
    font-weight: 100;
}

.section-form {
    background-color: #CA9559;
    width: 100%;
    height: 272px;
    padding: 35px;
}

.section-texto-laco-h1 {
    font-family: "Get-Show";
    line-height: 40px;
    font-size: 3rem;
    text-align: center;

    color: #373535;
    margin: 1.5rem 3.5rem 1.5rem 3.5rem;
    font-weight: 100;
}

.section-texto-laco-h1__form {
    margin: 1.5rem 2rem 1.5rem 2rem;
}

.section-texto-laco-h2 {
    font-family: "Gotham";
    line-height: normal;
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #FFFFFF;
    margin: 0 0 20px 0;
}

.label {
    font-family: Gotham;
    line-height: normal;
    font-size: 1rem;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 6px;
}



.input {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    height: 44px;
    padding-left: 10px;
}

::placeholder {
    font-family: Gotham;
    line-height: normal;
    font-size: 1rem;
    color: #FFFFFF;

}

.row-escolhas {
    width: 100%;
    height: 272px;
    display: flex;
    flex-direction: column
}

.row-escolhas__a {
    background-color: #CA9559;
    flex: 1;
}

.row-escolhas__b {
    background-color: #4A4D41;
    flex: 1;
}