@mixin mx-botoes-escolhas($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {

        .btn-escolha1-a,
        .btn-escolha1-b,
        .btn-escolha2-a,
        .btn-escolha2-b {
            font-family: $primaryfont;
            border: 0;
            //background-color: $primary;

            // Texto
            color: #FFFFFF;
            line-height: normal;
            font-size: 2rem;
            text-align: center;
            height: 100%;
            background-color: inherit;

        }

    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {

            .btn-escolha1-a,
            .btn-escolha1-b,
            .btn-escolha2-a,
            .btn-escolha2-b {
                font-family: $primaryfont;
                border: 0;
                // Texto
                color: #FFFFFF;
                line-height: normal;
                font-size: 6.25rem;
                font-weight: bold;
                text-align: center;
                height: 100%;
                background-color: inherit;

            }

        }
    }

}