/*@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Libre+Baskerville|Varela+Round');*/

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/RobotoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/RobotoBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensedRegular';
	src: url('../fonts/RobotoCondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto_condensedbold';
	src: url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoLight';
	src: url('../fonts/LatoLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoBold';
	src: url('../fonts/LatoBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PoppinsBold';
	src: url('../fonts/PoppinsBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrocity-Light';
	src: url('../fonts/Metrocity-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrocity-Book';
	src: url('../fonts/Metrocity-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrocity-Medium';
	src: url('../fonts/Metrocity-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrocity-Bold';
	src: url('../fonts/Metrocity-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Textitle';
	src: url('../fonts/Textitle.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Get-Show';
	src: url('../fonts/Get_Show.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Black';
	src: url('../fonts/Gotham-Font/Gotham-Black.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Font/Gotham-Bold.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamBold';
	src: url('../fonts/Gotham-Font/GothamBold.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamBoldItalic';
	src: url('../fonts/Gotham-Font/GothamBoldItalic.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/Gotham-Font/GothamBook.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-BookItalic';
	src: url('../fonts/Gotham-Font/Gotham-BookItalic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamBookItalic';
	src: url('../fonts/Gotham-Font/GothamBookItalic.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Light';
	src: url('../fonts/Gotham-Font/Gotham-Light.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamLight';
	src: url('../fonts/Gotham-Font/GothamLight.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamLightItalic';
	src: url('../fonts/Gotham-Font/GothamLightItalic.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamMedium';
	src: url('../fonts/Gotham-Font/GothamMedium.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamMedium_1';
	src: url('../fonts/Gotham-Font/GothamMedium_1.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamMediumItalic';
	src: url('../fonts/Gotham-Font/GothamMediumItalic.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-Thin';
	src: url('../fonts/Gotham-Font/Gotham-Thin.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-ThinItalic';
	src: url('../fonts/Gotham-Font/Gotham-ThinItalic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-UltraItalic';
	src: url('../fonts/Gotham-Font/Gotham-UltraItalic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-XLight';
	src: url('../fonts/Gotham-Font/Gotham-XLight.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham-XLightItalic';
	src: url('../fonts/Gotham-Font/Gotham-XLightItalic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Icomoon';
	src: url('../fonts/icomoon.eot') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Icomoon';
	src: url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Icomoon';
	src: url('../fonts/icomoon.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Icomoon';
	src: url('../fonts/icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}