/*@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Libre+Baskerville|Varela+Round');*/

@font-face {
	font-family: 'RobotoRegular';
	src: url('../fonts/RobotoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/RobotoBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensedRegular';
	src: url('../fonts/RobotoCondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto_condensedbold';
	src: url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoLight';
	src: url('../fonts/LatoLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoBold';
	src: url('../fonts/LatoBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PoppinsBold';
	src: url('../fonts/PoppinsBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrocity-Light';
	src: url('../fonts/Metrocity-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrocity-Book';
	src: url('../fonts/Metrocity-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrocity-Medium';
	src: url('../fonts/Metrocity-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Metrocity-Bold';
	src: url('../fonts/Metrocity-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Textitle';
	src: url('../fonts/Textitle.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}