/*@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Libre+Baskerville|Varela+Round');*/



@font-face{
    font-family: 'Varela Round', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Asap Condensed', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Asap+Condensed|Libre+Baskerville|Varela+Round');
}

