@include mx-row($gridwidthmobile);
@include mx-row($gridwidthtablet);
@include mx-row($gridwidthtabletbig);

.info{
    text-align: center;
}
.infoText{
    font-size: 13px;
    margin: 2px;
}
.infoMais{
    font-size: 10px;
}

.market-info-footer{
    padding: 21px 0 24px;
    border-top: 2px solid #f2f2f2;
    background: rgba(242, 242, 242, .4);
}