@mixin mx-col-grid($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {
        .col-4-m {
            //width: 33.3%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    @if($gridwidth==$gridwidthtablet) {
        @media only screen and (min-width: $gridwidth) {
            .col-8-t {
                width: 66.6%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {
            .col-12-d {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }


}

@mixin mx-footer($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {
        .indicator {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 14px 82px 14px 82px;
        }

        .footer-indicator__active {
            background-color: rgba(161, 161, 161, 0.6);
        }
    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {

            .indicator {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 14px 82px 14px 82px;
            }

            .footer-indicator__active {
                background-color: $text-secundary;
            }

            .footer-indicator__displaynone {
                display: none;
            }

            .indicator_position {
                position: relative;
                top: -150px
            }

            .footer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 14px 82px 14px 82px;
            }
        }
    }

}

@mixin mx-textolaco($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .section-texto-laco-h1 {
            margin: 1.5rem 1.5rem 1.5rem 5rem;
            text-align: center;
        }

        .section-texto-laco-h1__margin {
            margin: 1.5rem .5rem 1.5rem .5rem;
        }

        .section-texto-laco-span1,
        .section-texto-laco-span2 {
            font-family: $primaryfont;
            line-height: 2.25rem;
            font-size: 1.55rem;
            color: #373535;
            font-weight: 100;
            display: block;
            float: left;
        }

        .section-texto-laco-span1::after {
            content: "\A";
            white-space: pre;
        }


        .section-texto-laco-span3 {
            font-family: $secondaryfont;
            line-height: 2.25rem;
            font-size: 4.25rem;
            color: #373535;
            font-weight: 100;
            display: block;
            float: right;
            padding: 0px 58px 0 0;
        }

        .section-texto-laco-spanS {
            font-family: $secondaryfont;
            line-height: 2.25rem;
            font-size: 4.25rem;
            color: #373535;
            font-weight: 100;
            display: block;
            float: right;
            padding: 0px 9px 0px;
        }
    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {

            .clearfix::after {
                content: "";
                clear: both;
                display: table;
            }

            .section-texto-laco-h1 {
                font-family: "Get-Show";
                line-height: 40px;
                font-size: 3rem;
                text-align: center;
                position: absolute;
                padding-left: 25rem;
                padding-top: 30px;

                color: #373535;
                margin: 1.5rem 3.5rem 1.5rem 3.5rem;
                font-weight: 100;
            }
        }
    }

}


// Index.html
@mixin mx-section-texto-intro-laco($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {
        .section-texto-intro-laco {
            background-image: url('../images/banner-mobile-amigos.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 577px;
        }

    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {

            .section-texto-intro-laco {
                background-image: url('../images/banner-landing-page-amigos\ 375x600.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 800px;
            }
        }
    }

}

@mixin mx-col-btn-m__position($gridwidth) {
    @if($gridwidth==$gridwidthmobile) {
        .col-btn-m__position {
            position: absolute;
            width: 144px;
            height: 48px;
            left: 116px;
            top: 365px;
        }

    }

    @if($gridwidth==$gridwidthtabletbig) {
        @media only screen and (min-width: $gridwidth) {
            .col-btn-m__position {
                position: absolute;
                width: 214px;
                height: 52px;
                left: 50px;
                top: 450px;

            }
        }
    }

}