@mixin mx-row($gridwidth){
    @if($gridwidth == $gridwidthmobile){
            .row{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
    }
    @if($gridwidth == $gridwidthtablet){
        @media only screen and (min-width: $gridwidth){
            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
 
    @if($gridwidth == $gridwidthtabletbig){
        @media only screen and (min-width: $gridwidth){
            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
 
        }
    }
 

 }