$titlesfont: "Varela Round";
$titlesfontweights: "700";
$bodyfont: "Muli";
$bodyfontweights: "400";

$primary: #F3B14D;
$secondary: #606C3C;
$corfundo: white;
$gray: #CCC;
$graylight: #F3F3F3;
$white: #FFF;
$black: #000;

$animationtime: 0.4s;

$gridcolumnsmobile: 4;
$gridwidthmobile: 375px;

$gridcolumnstablet: 8;
$gridwidthtablet: 720px;

$gridcolumnstabletbig: 12;
$gridwidthtabletbig: 900px;

$gridcolumns: 12;
$gridgutter: 30px;
$gridwidth: 1200px;

$primaryfont: "GothamPro-Medium";