$titlesfont: "Varela";
$titlesfontweights: "700";
$bodyfont: "Muli";
$bodyfontweights: "400";

$primary: #E7194F;
$secondary: #00BEC5;
$graydark: #777;
$gray: #CCC;
$graylight: #F3F3F3;
$white: #FFF;
$black: #000;

$animationtime: 0.4s;

$gridcolumnsmobile: 4;
$gridwidthmobile: 100%;

$gridcolumnstablet: 4;
$gridwidthtablet: 720px;

$gridcolumnstabletbig: 12;
$gridwidthtabletbig: 900px;

$gridcolumns: 12;
$gridgutter: 30px;
$gridwidth: 1200px;